<div class="documentation-item">
  <div class="row">
    <div class="col-lg-12" title="{{guiName}}">
      <p>
        <a href="#{{fullyQualifiedId}}" name="{{fullyQualifiedId}}">
          <span class="documentation-type">{{type}}</span>
          <span class="documentation-key">{{id}}</span>
        </a>
      </p>
      <p class="documentation-description">{{fullyQualifiedId}}
        <a class="documentation-small" onclick="copyTextToClipboard('{{fullyQualifiedId}}')">copy</a>
      </p>
    </div>
  </div>
</div>
