{{#each data}}
<div class="row">
  <div class="col-lg-12">
    <h2>
      <a class="documentation-name" href="#{{urlify name}}" name="{{urlify name}}">
        {{name}}
      </a>
    </h2>
    {{#each classes}}
    <div class="documentation-item item-level-{{level name}}">
      <div class="row">
        <div class="col-lg-12">
          <p>
            <a href="#{{urlify this}}" name="{{urlify this}}" onclick="sidebarNavigate(1);">
              <span class="documentation-key">{{this}}</span>
            </a>
          </p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{/each}}