{{#each data}}
<div class="documentation-item">
  <div class="row">
    <div class="col-lg-12">
      <p>
        <h3>
          <a class="documentation-name" href="#{{urlify name}}" name="{{urlify name}}">Asset - {{name}}</a>
        </h3>
        <p>{{{description}}}</p>
        <p>Version - {{version}}</p>
        <p>Author - {{{author}}}</p>
        <p>Associated URL - <a href="{{url}}">{{url}}</a></p>
        <p>License - {{{license}}}</p>
        <p>Filepath - {{path}}</p>
      </p>
    </div>
  </div>
</div>
{{/each}}
