{{#each data}}
<div class="documentation-item">
  <div class="row">
    <div class="col-lg-12">
      <p>
         <a href="#{{urlify module}}" name="{{urlify module}}">
          <span class="documentation-key">{{module}}</span>
        </a>
        <p>{{name}}</p>
        <br />
        <p>{{attribution}}</p>
        <p>{{url}}</p>
        <p>{{licenseText}}</p>
      </p>
    </div>
  </div>
</div>
{{/each}}