{{#each data}}
<div class="row">
  <div class="col-lg-12">
    <h2>
      <a class="documentation-name" href="#openspace{{#if library}}.{{library}}{{/if}}" name="openspace{{#if library}}.{{library}}{{/if}}">
        openspace{{#if library}}.{{library}}{{/if}}
      </a>
    </h2>
    {{#each functions}}
    <div class="documentation-item item-level-{{level name}}">
      <div class="row">
        <div class="col-lg-12">
          <p>
            <a href="#{{urlify name}}" name="{{urlify name}}">
              <span class="documentation-key">{{name}}(</span>
              <span class="documentation-function-arguments">
                {{#each arguments}}
                  <span class="arguments-name">{{name}}</span>
                  <span class="arguments-type">({{type}})</span>
                  {{#unless @last}},{{/unless}}
                {{/each}}
              </span>
              <span class="documentation-key">)</span>
              {{#if returnType}}
              <span class="documentation-function-return">
                <span class="return-arrow"> -></span>
                <span class="return-type"> {{returnType}}</span>
              </span>
              {{/if}}
            </a>
          </p>
          <p class="documentation-description">{{help}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{/each}}
